--format "bv[height<=720]+ba"
--output "%(channel)s/%(playlist|)s/%(title)s.%(ext)s"
--output "subtitle:%(channel)s/subtitles/%(playlist|)s/%(title)s_%(id)s.%(ext)s"
--output "thumbnail:%(channel)s/thumbnails/%(playlist|)s/%(title)s_%(id)s.%(ext)s"
--mark-watched
--sub-langs 'eng,fr.orig'
--sleep-interval 3
--max-sleep-interval 4
